
.project h2{
    text-align: center;
    color: #385A64;
    padding-top: 2em;
}
.projectCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    width:  16em;
    height: auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin: 1em;
}
.projectImg img{
    width: 15em;
}
.projectButtons{
    margin: 1em 0 1em;
}
.projectButtons button{
    background: #fbbc05;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 0.5em 2em;
    margin: 0 1em 0;
    border-radius: 5px;
}
.projectButtons .btn{
    background: transparent;
    color: #fbbc05;
    font-weight: bold;
    border: 1px solid #fbbc05;
}

@media screen and (max-width: 910px){
    .projectCard{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 700px){
    .projectCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
